header
  height: 350px

  a
    text-decoration: none
    color: #ddd

    &:hover
      border-bottom: 1px dotted #bbb
      color: #b83000

#site_title
  font-family: "chunky-font"
  font-size: 86px
  line-height: 1em
  margin: 0
  padding-top: 60px

#studio
  float: left
  margin: 15px 0

#subscribe_bar
  float: right
  font-family: 'Myriad Pro', Arial, sans-serif
  padding: 0

  li
    list-style-type: none
    display: inline
    margin: 0 15px