header
  // height: 350px

  a
    text-decoration: none
    color: #ddd

    &:hover
      border-bottom: 1px dotted #bbb
      color: #b83000

  // Estilo do link para BreakboneStudio e FB, RSS, etc.
    // .site-title
    //   float: left

    // ul
    //   font-family: 'Myriad Pro', Arial, sans-serif

    //   li
    //     list-style-type: none
    //     display: inline
    //     margin: 0 15px

#site_title
  font-family: "chunky-font"
  font-size: 86px
  margin-top: 75px
  margin-bottom: 120px