
.post
  background-color: white
  background-color: rgba(254,254,254,0.97)
  border-radius: 35px
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5)
  margin-bottom: 50px
  margin-top: 60px
  padding: 15px 40px

  p
    color: rgb(87,87,87)
    font-size: 16px
    line-height: 27px
    margin: 0 0 20px
    text-align: justify

  pre
    font-size: 14px
    line-height: 1.5em
    font-family: menlo, consolas, 'lucida console', monaco, 'courier new', monospace
    overflow: auto
    +border-radius(4px)

    background-color: #2B2B2B
    padding: 14px

  .date
    color: #444
    font-variation: small-caps
    font-family: 'lucida grande', 'helvetica neue', helvetica, sans-serif
    line-height: 1em
    margin-top: 10px

  .highlight
    margin-top: 24px

  .title
    font-family: georgia, 'bitstream vera sans serif', 'lucida grande', helvetica, verdana, sans-serif
    font-size: 34px
    margin-bottom: 10px
    margin-top: 20px
    text-align: left

    a
      text-decoration: none
      color: #000

.post-content
  margin-top: 50px