#content .post:first-child
  margin-top: 0

.post
  background-color: white
  background-color: rgba(254,254,254,0.97)
  border-radius: 15px
  color: rgb(68,68,68)
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5)
  margin: 30px 0
  padding: 15px 40px

  .date
    color: #444
    font-variation: small-caps
    font-family: 'lucida grande', 'helvetica neue', helvetica, sans-serif
    line-height: 1em
    margin-top: 10px

  // .highlight
  //   margin-top: 24px

  .title
    font-family: georgia, 'bitstream vera sans serif', 'lucida grande', helvetica, verdana, sans-serif
    font-size: 34px
    margin-bottom: 10px
    margin-top: 20px
    text-align: left

    a
      text-decoration: none
      color: #000

.post-content
  margin-top: 30px