<article class="post">
  <h2>
    <a href="<%= post.path %>"><%= post.title %></a>
  </h2>
  <div class="post-content">
    <%= markdown post.body %>
  </div>
</article>

<% if show_comments ||= false %>
  <%= erb :_comments %>
<% end %>
